<div class="panel panel-info">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-11">
                Editing the todo task
            </div>
            <div class="col-xs-1 text-right">
                <i class="glyphicon glyphicon-remove" ng-click="stopEditing()">
                </i>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <form action="" class="form-horizontal">
            <div class="form-group">
                <label class="col-xs-2 control-label">Task description</label>
                <div class="col-xs-8">
                    <input type="text" class="form-control" placeholder="Task description" ng-model="taskUnderEdition.description"/>
                </div>
                <button  type="submit" class="btn btn-success col-xs-1" ng-click="saveTask(taskUnderEdition,taskUnderEdition.id)">Save</button>
            </div>
        </form>
    </div>
</div>